<div class="post_new">

  <h1>新規投稿</h1>

  <!-- エラーメッセージ -->
  <% @post.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>

  <%= form_tag("/posts/create",{multipart: true}) do %>
    <p>人物名</p>
    <input name="post_name">
    <div class="post_new_mini_content">
      <p>一言紹介</p>
      <textarea name="mini_content">この人物を一言で表すと？</textarea>
    </div>
    <p>出身地/活躍地</p>
    <select name="map_id">
      <option></option>
      <% @maps.each do |map| %>
        <option>
          <%= map.map_name %>
        </option>
      <% end %>
    </select>
    <p>画像</p>
    <input name="image" type="file">

    <div class="post_new_text">
      <p>説明</p>
      <textarea name="content"></textarea>
    </div>
    <div class="post_new_submit">
      <input type="submit" value="投稿">
    </div>
  <% end %>

</div>