a {
  text-decoration:none;
}

.flash_message{
  color: white;
  text-align: center;
  width: 100%;
  background-color: green;
  animation: fadeout-anim 5s linear forwards;
}

@keyframes fadeout-anim {
	100% {
		opacity: 0;
	}
}

/* ヘッダー */
header{
  margin-top: -8px;
  margin-left: -8px;
  margin-right: -8px;
  height: 80px;
  background-image: url(../application_images/header.jpg);
  background-repeat: no-repeat;
  background-position: 0% 20%;
  background-size: cover;
}

header a:hover {
  text-decoration: underline;
}

header a:link, header a:visited, header a:hover, header a:active {
  color: white;
  font-size: 20px;
  text-shadow: -2px -2px 0 black;
}

.header-logo{
  margin-top: 20px;
  margin-left: 20px;
  float: left;
}

.header-logo a:link{
  font-size: 40px;
  font-family: "HG行書体", sans-serif;
}

.header-menus{
  text-align:right;
  list-style:none;
  float: right;
  font-family: "HG行書体", sans-serif;
}

.header-menus li {
  float: left;
  margin-top: 15px;
  padding-right: 20px;
}

/* body */
body{
  margin-bottom: 0%;
  background-image: url(../application_images/body_back.jpg);
  background-size: auto 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper{
  min-height: 100vh;
  position: relative;
}

/* top画面 */
.opening_message{
  position: absolute;
  top: 12%;
  left: 5%;
}

.opening_message a{
  color: black;
}

.opening_message a:hover{
  text-decoration: underline;
 text-decoration-color: black;
}

.opening_message h1{
  margin-bottom: -20px;
}

.opening_message p{
  padding-top: 5px;
  color: #FFA500;
}

.map{
  font-family: "HG行書体", sans-serif;
  text-align:center;
  width: 1000px;
  height: 1000px;
  margin: auto;
}

.map_image_japan {
  position: relative;
}

.map_image_japan img{
  height: 100%;
  width: 100%;
}

.map_choice a{
  font-size: 20px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  position: absolute;
  border-radius: 5px;
  transition:all 1s;
}

.map_choice a:hover{
  background-color: white;
  color: black
}

.map_choice a:active{
  box-shadow: none;
}

.map_choice_hokkaido a{
  background-color: #6633CC;
  box-shadow: 3px 3px #663399;
  top: 17%;
  right: 17.3%;
}

.map_choice_touhoku a{
  background-color: #4682B4;
  box-shadow: 3px 3px #191970;
  top: 43%;
  right: 31%;
}

.map_choice_kanto a{
  background-color: #006400;
  box-shadow: 3px 3px #003300;
  top: 61%;
  right: 37%;
}

.map_choice_hokuriku a{
  background-color: #00CED1;
  box-shadow: 3px 3px #4689FF;
  top: 53%;
  right: 46%;
}

.map_choice_cyubu a{
  background-color: 	#00CC00;
  box-shadow: 3px 3px #00AA00;
  top: 64.5%;
  right: 47%;
}

.map_choice_kinki a{
  background-color: 	#FFD700;
  box-shadow: 3px 3px #FFA500;
  top:68%;
  right: 57%;
}

.map_choice_cyugoku a{
  background-color: 	#FF570D;
  box-shadow: 3px 3px #CC6600;
  top: 65%;
  right: 68%;
}

.map_choice_sikoku a{
  background-color: 	#FFCC99;
  box-shadow: 3px 3px #FF9999;
  top: 72%;
  right: 66.5%;
}

.map_choice_kyusyu a{
  background-color: 	#FF0000;
  box-shadow: 3px 3px #BB0000;
  top: 76%;
  right: 79%;
}

.map_choice_ryukyu a{
  background-color: 	#800000;
  box-shadow: 3px 3px #440000;
  padding-left: 15px;
  padding-right: 15px;
  top: 94%;
  right: 90%;
}

.map_index a{
  background-color: 	#800080;
  box-shadow: 3px 3px #4B0082;
  width: 250px;
  top: 28%;
  left: 6%;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  position: absolute;
  border-radius: 5px;
}

.map_index a:hover{
  background-color: white;
  color: black
}

.map_index a:active{
  box-shadow: none;
}

.create_post{
  position: fixed;
  top: 80%;
  left: 75%;
  width: 100%;
  z-index: 1;
}

.create_post a{
  font-family: "HG行書体", sans-serif;
  background-color: 	#5df1a0;
  box-shadow: 3px 3px #0b6d44;
  width: 150px;
  height: 50px;
  font-size: 50px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  border-radius: 5px;
  transition:all 1s;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}

.create_post a:hover{
  background-color: white;
  color: black;
  box-shadow: 0 20px 50px 0 rgba(0, 0, 0, .5);
}

.create_post a:active{
  box-shadow: none;
}

/* マップ選択画面 */
.show_map a{
  font-size: 20px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  position: absolute;
  border-radius: 5px;
  transition:all 1s;
}

.show_map a:hover{
  background-color: white;
  color: black;
}

.show_map a:active{
  box-shadow: none;
}
/* 東北地方 */
.map_img_touhoku {
  position: relative;
}

.map_img_touhoku img {
  height: 80%;
  width: 80%;
}

.map_img_touhoku a{
  position: absolute;
}

.map_img_touhoku a{
  background-color: #4682B4;
  box-shadow: 3px 3px #191970;
}

.map_choice_mutu a{
  top: 20%;
  right: 43%;
}

.map_choice_rikucyu a{
  top: 40%;
  right: 37%;
}

.map_choice_rikuzen a{
  top: 60%;
  right: 43%;
}

.map_choice_ugo a{
  top: 40%;
  right: 49%;
}

.map_choice_uzen a{
  top: 60%;
  right: 53%;
}

.map_choice_iwaki a{
  top: 83%;
  right: 48%;
}

.map_choice_iwashiro a{
  top: 78%;
  right: 57%;
}

/* 関東地方 */
.map_img_kanto a{
  background-color: #006400;
  box-shadow: 3px 3px #003300;
}

.map_img_kanto {
  position: relative;
}

.map_img_kanto img {
  height: 100%;
  width: 100%;
}

.map_img_kanto a{
  position: absolute;
}

.map_choice_hitachi a{
  top: 43%;
  right: 35%;
}

.map_choice_shimotuke a{
  top: 32%;
  right: 43%;
}

.map_choice_kouzuke a{
  top: 35%;
  right: 58%;
}

.map_choice_shimofusa a{
  top: 58%;
  right: 38%;
}

.map_choice_kazusa a{
  top: 68%;
  right: 41%;
}

.map_choice_awa a{
  top: 76%;
  right: 46%;
}

.map_choice_musashi a{
  top: 51%;
  right: 53%;
}

.map_choice_sagami a{
  top: 63%;
  right: 56%;
}

/* 北陸地方 */
.map_img_hokuriku a{
  background-color: #00CED1;
  box-shadow: 3px 3px #4689FF;
}

.map_img_hokuriku {
  position: relative;
}

.map_img_hokuriku img {
  height: 100%;
  width: 100%;
}

.map_img_hokuriku a{
  position: absolute;
}

.map_choice_echigo a{
  top: 38%;
  right: 26%;
}

.map_choice_eccyu a{
  top: 58%;
  right: 57%;
}

.map_choice_noto a{
  top: 41%;
  right: 59%;
}

.map_choice_kaga a{
  top: 58%;
  right: 67%;
}

.map_choice_echizen a{
  top: 69%;
  right: 72%;
}

.map_choice_wakasa a{
  top: 78%;
  right: 82%;
}

.map_choice_sado a{
  top: 30%;
  right: 36%;
}

/* 中部地方 */
.map_img_cyubu a{
  background-color: 	#00CC00;
  box-shadow: 3px 3px #00AA00;
}

.map_img_cyubu {
  position: relative;
}

.map_img_cyubu img {
  height: 90%;
  width: 90%;
}

.map_img_cyubu a {
  position: absolute;
}

.map_choice_kai a{
  top: 55%;
  right: 31%;
}

.map_choice_suruga a{
  top: 69%;
  right: 37%;
}

.map_choice_izu a{
  top: 76%;
  right: 28%;
}

.map_choice_shinano a{
  top: 42%;
  right: 41%;
}

.map_choice_totoumi a{
  top: 72%;
  right: 46.5%;
}

.map_choice_mikawa a{
  top: 67%;
  right: 56%;
}

.map_choice_owari a{
  top: 60%;
  right: 63%;
}

.map_choice_mino a{
  top: 51%;
  right: 62%;
}

.map_choice_hida a{
  top: 38%;
  right: 55%;
}

/* 近畿地方 */
.map_img_kinki a{
  background-color: 	#FFD700;
  box-shadow: 3px 3px #FFA500;
}

.map_img_kinki {
  position: relative;
}

.map_img_kinki img {
  height: 90%;
  width: 90%;
}

.map_img_kinki a{
  position: absolute;
}

.map_choice_oumi a{
  top: 36%;
  right: 36%;
}

.map_choice_ise a{
  top: 57%;
  right: 32%;
}

.map_choice_shima a{
  top: 63.5%;
  right: 24%;
}

.map_choice_iga a{
  top: 49%;
  right: 37.5%;
}

.map_choice_yamato a{
  top: 60%;
  right: 42%;
}

.map_choice_yamato a{
  top: 60%;
  right: 45%;
}

.map_choice_kii a{
  top: 70%;
  right: 58%;
}

.map_choice_waizumi a{
  top: 54%;
  right: 57%;
}

.map_choice_kawachi a{
  top: 50%;
  right: 50%;
}

.map_choice_yamashiro a{
  top: 42%;
  right: 44%;
}

.map_choice_settu a{
  top: 41%;
  right: 55%;
}

.map_choice_tanba a{
  top: 29%;
  right: 54%;
}

.map_choice_tango a{
  top: 15%;
  right: 55%;
}

.map_choice_tazima a{
  top: 15%;
  right: 65%;
}

.map_choice_harima a{
  top: 34%;
  right: 68%;
}

.map_choice_awazi a{
  top: 55%;
  right: 68%;
}

/* 中国地方 */
.map_img_cyugoku a{
  background-color: 	#FF570D;
  box-shadow: 3px 3px #CC6600;
}

.map_img_cyugoku {
  position: relative;
}

.map_img_cyugoku img {
  height: 90%;
  width: 90%;
}

.map_img_cyugoku a {
  position: absolute;
}

.map_choice_inaba a{
  top: 40%;
  right: 20%;
}

.map_choice_misaka a{
  top: 47%;
  right: 26%;
}

.map_choice_bizen a{
  top: 57%;
  right: 26%;
}

.map_choice_biccyu a{
  top: 52%;
  right: 34%;
}

.map_choice_bingo a{
  top: 52%;
  right: 42%;
}

.map_choice_aki a{
  top: 56%;
  right: 53%;
}

.map_choice_suou a{
  top: 63%;
  right: 66%;
}

.map_choice_houki a{
  top: 37%;
  right: 32%;
}

.map_choice_izumo a{
  top: 38%;
  right: 42%;
}

.map_choice_iwami a{
  top: 44%;
  right: 53%;
}

.map_choice_nagato a{
  top: 57%;
  right: 74%;
}

.map_choice_oki a{
  top: 20%;
  right: 40%;
}

/* 四国地方 */
.map_img_sikoku a{
  background-color: 	#FFCC99;
  box-shadow: 3px 3px #FF9999;
}

.map_img_sikoku {
  position: relative;
}

.map_img_sikoku img {
  height: 90%;
  width: 90%;
}

.map_img_sikoku a {
  position: absolute;
}

.map_choice_sanuki a{
  top: 34%;
  right: 35%;
}

.map_choice_awa_shikoku a{
  top: 46%;
  right: 30%;
}

.map_choice_iyo a{
  top: 46%;
  right: 61%;
}

.map_choice_tosa a{
  top: 52%;
  right: 49%;
}


/* 九州地方 */
.map_img_kyusyu a{
  background-color: 	#FF0000;
  box-shadow: 3px 3px #BB0000;
}

.map_img_kyusyu {
  position: relative;
}

.map_img_kyusyu img {
  height: 90%;
  width: 90%;
}

.map_img_kyusyu a {
  position: absolute;
}

.map_choice_buzen a{
  top: 28%;
  right: 41%;
}

.map_choice_bungo a{
  top: 38%;
  right: 38%;
}

.map_choice_hyuga a{
  top: 56%;
  right: 42%;
}

.map_choice_osumi a{
  top: 70%;
  right: 51%;
}

.map_choice_chikuzen a{
  top: 26%;
  right: 48.5%;
}

.map_choice_chikugo a{
  top: 34%;
  right: 49%;
}

.map_choice_hizen a{
  top: 33%;
  right: 57%;
}

.map_choice_higo a{
  top: 46%;
  right: 48%;
}

.map_choice_satuma a{
  top: 65%;
  right: 57%;
}

.map_choice_iki a{
  top: 22%;
  right: 57%;
}

.map_choice_tushima a{
  top: 10%;
  right: 63%;
}

/* 地図一覧画面 */
.map_index_choice{
  display: flex;
  flex-wrap: wrap;
  transition: all 1s;
  justify-content: center;
  padding-bottom: 50px;
}

.map_index_choice p{
  font-family: "HG行書体", sans-serif;
  text-shadow: -1px -1px 1px 1px black;
  text-align: center;
  font-size: 17px;
}

.map_index_choice td{
  padding: 0%;
  text-align: center;
  flex: auto;
  width: 100px;
}

.map_index_choice td a{
  line-height: 30px;
  font-family: "HG行書体", sans-serif;
  color: white;
  transition:all 1s;
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 30%;
  padding-right: 30%;
}

.map_index_ezo td a{
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 0%;
  padding-right: 0%;
}

.map_index_ryukyu td a{
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 0%;
  padding-right: 0%;
}

.map_index_ezo td{
  background-color: #6633CC;
}

.map_index_ezo p{
  color: #6633CC;
}

.map_index_touhoku td{
  background-color: #4682B4;
}

.map_index_touhoku p{
  color: #4682B4;
}

.map_index_kanto td{
  background-color: #006400;
}

.map_index_kanto p{
  color: #006400;
}

.map_index_hokuriku td{
  background-color: #00CED1;
}

.map_index_hokuriku p{
  color: #00CED1;
}

.map_index_cyubu td{
  background-color: #00CC00;
}

.map_index_cyubu p{
  color: #00CC00;
}

.map_index_kinki td{
  background-color: #FFD700;
}

.map_index_kinki p{
  color: #FFD700;
}

.map_index_cyugoku td{
  background-color: #FF570D;
}

.map_index_cyugoku p{
  color: #FF570D;
}

.map_index_shikoku td{
  background-color: #FFCC99;
}

.map_index_shikoku p{
  color: #FFCC99;
}

.map_index_kyusyu td{
  background-color: #FF0000;
}

.map_index_kyusyu p{
  color: #FF0000;
}

.map_index_ryukyu td{
  background-color: #800000;
}

.map_index_ryukyu p{
  color: #800000;
}

.map_index_choice td:hover{
  background-color: white;
}

.map_index_choice a:hover{
  color: black
}


/* ユーザー詳細画面 */
.user_image img{
  width: 200px;
  height: 200px;
}

/* フッター */
footer{  
  text-align:center;
  height: 100px;
  width: 100%;
  background-image: url(../application_images/footer.jpg);
  background-repeat: no-repeat;
  background-position: 0% 80%;
  background-size: cover;
  position: absolute;
  bottom: 0;
  z-index: 0;
}

footer img{
  height: 80px;
  margin: 10px;
}

/* 検索機能 */
.post_search{
  margin: 0 auto;
  text-align: center;
  background-color: white;
  width: 30%;
  padding-top: 20px;
  padding-bottom: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
  transition:all 1s;
}

.post_search:hover{
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, .5);
}

.post_search h3 {
  font-size: 30px;
  margin-top: -5px;
  margin-bottom: 5px;
}

.map_search a{
  font-family: "HG行書体", sans-serif;
  background-color: 	#220080;
  box-shadow: 3px 3px #000744;
  width: 250px;
  top: 23%;
  left: 6%;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  position: absolute;
  border-radius: 5px;
}

.map_index a:hover{
  background-color: white;
  color: black
}

.map_index a:active{
  box-shadow: none;
}

.video video{
  width: 80%;
  margin:0 auto;
}