/* ログイン画面 */
.login_form{
  height: 458px;
  width: 400px;
  text-align:center;
  margin:0 auto;
}

.login_form_content{
  margin-top: 20px;
}

.login_form form{
  margin-top: 100px;
  background-color: white;
  border: solid;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
  transition:all 0.5s;
}

.login_form form:hover{
  box-shadow: 0 20px 50px 0 rgba(0, 0, 0, .5);
}

.login_button{
  margin-top: 20px;
  margin-bottom: 20px;
  flex-flow: column;
}

.login_button {
  margin-top: 20px;
  margin-bottom: 20px;
  flex-flow: column;
}

.login_button input {
  padding-left: 40px;
  padding-right: 40px;
  background-color:#00FF99;
  border-radius: 3px;
  border-width: 1px;
  transition:all 0.5s;
}

.login_button input:hover {
  cursor: pointer;
  background-color:#008000;
  color: white;
}

.error_message{
  text-align:center;
  color: red;
  padding-bottom: 5px;
}

/* ユーザー詳細画面 */
.user_data{
  display: flex;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  border: 2px solid black;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
  margin: 0 auto;
  margin-top: 30px;
  width: 500px;
}

.user_data h2{
  margin-top: 0%;
  margin-bottom: 0%;
}

.user_data img{
  border: 2px solid black;
  width: 180px;
}

.main_user_data{
  width: 200px;
}

.user_Introduce{
  margin-top: -20px;
  text-align: left;
}

.user_Introduce h3{
  font-size: 25px;
  font-family: 青柳隷書SIMO2_O;
  border:2px,solid,grey;
}

.user_Introduce a{
  white-space: pre-wrap;
}

.edit_user_data a{
  padding-left: 70px;
  padding-right: 70px;
  background-color:#00FF99;
  border-radius: 3px;
  border-width: 1px;
  transition:all 1s;
}

.edit_user_data a:hover{
  cursor: pointer;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
  transform:scale(1.1,1.1);
}

.user_post_data_top{
  margin-top: 80px;
  text-align: center;
}

.user_post_data_top table{
  border-collapse:  collapse;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.user_post_data_top a{
  border: solid 2px;
  width:  250px;
  font-size: 25px;
}

.user_post_data_top_post a{
  padding-left: 17px;
  padding-right: 17px;
  color: black;
  transition:all 0.5s;
}

.user_post_data_top_post a:hover{
  cursor: pointer;
  color: white;
  background-color: black;
}

.user_post_data_top_likes a{
  padding-left: 17px;
  padding-right: 17px;
  color: black;
  transition:all 0.5s;
}

.user_post_data_top_likes a:hover{
  cursor: pointer;
  color: white;
  background-color: black;
}

.post_index h3{
  margin: auto;
  width: 200px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: serif;
  font-size: 30px;
  border-top: 2px solid rgb(65, 55, 55);
  border-bottom: 2px solid rgb(65, 55, 55);
}

/* ユーザー編集画面 */
.user_edit form{
  height: 500px;
  width: 600px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 2px;
  background-color: white;
  border: solid;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
  transition:all 0.5s;
}

.user_edit form:hover{
  box-shadow: 0 20px 50px 0 rgba(0, 0, 0, .5);
}

.user_edit h1{
  text-align: center;
}

.user_edit_contents{
  margin-left: 50px;
  margin-right: 50px;
}

.user_edit_contents p{
  margin-bottom: -3px;
}

.user_edit_text textarea{
  width: 100%;
  height: 100px;
}

.user_edit_submit{
  text-align:right;
}

.user_edit_submit input{
  width: 100px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 30px;
  background-color: greenyellow;
  border: 2px solid black;
  border-radius: 10px;
  color: black;
  transition:all 1s;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}

.user_edit_submit input:hover{
  cursor: pointer;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, .5);
  transform:scale(1.1,1.1);
}



